*{
    margin: 0;
    padding: 0;
}

body{
    background: yellow;    
}

.button {
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background:red;
    color: white;
}

.textview{
    width: 205px;
    height: 50px;
    margin: 5;
    font-size: 25;
    padding: 5;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}